@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,700&display=swap");

:root {
  --primary-clr: #251b37;
  --secondary-clr: #372948;
  --auxillary-clr: #ffcaca;
  --second-auxillary-clr: #ffecef;
  --font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
nav,
footer {
  height: 85px;
  background-color: var(--primary-clr);
  display: flex;
  align-items: center;
  padding: 0px 50px;
  color: white;
}

footer {
  justify-content: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 99;
}
/* Header - navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar {
  position: relative;
  /* background-color: var(--second-auxillary-clr); */
  padding: 0px 15px;
  border-radius: 30%;
  cursor: pointer;
}

.navBar img {
  width: 30px;
  border-radius: 50%;
}
.navBar img:hover {
  width: 32px;
}

.number-cart-items {
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 18px;
  right: 0;
  padding-right: 5px;
}

/* End of navigation Bar*/

main {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.order {
  position: relative;
  height: 450px;
  width: 450px;
  background: var(--second-auxillary-clr);
  border-radius: 10px;
  box-shadow: 0px 2px 2px var(--primary-clr);
}
table {
  width: 95%;
  margin: 15px auto;
  color: var(--secondary-clr);
}
.rows {
  margin: 15px 0;
}
.title {
  width: 50%;
}
.price {
  width: 25%;
}
.qty {
  width: 25%;
}

.totalContainer {
  float: right;
  padding: 10px 45px;
  font-size: 25px;
}

.payNow {
  width: 25%;
  position: absolute;
  bottom: 25px;
  left: 39%;
  background: var(--primary-clr);
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.payNow:hover {
  background: var(--auxillary-clr);
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}

form {
  padding: 50px 35px;
}
.inputTag {
  padding: 10px 0px;
}
form input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--primary-clr);
  color: white;
}
form input:hover {
  background: var(--auxillary-clr);
}
form input:focus {
  background: #ccc;
  color: var(--primary-clr);
  font-size: 18px;
}
label {
  font-size: 18px;
  font-weight: bold;
}
